.sidebar .nav-item.active > .nav-link {
    background-color: #40bfd8 !important;
}

.sidebar .nav-link .sidebar-icon {
    color: #fff !important;
}

span.sidebar-text {
    text-transform: capitalize;
}

.text-bg-primary {
    background-color: #40bfd8 !important;
}
